@tailwind base;
@tailwind components;
@tailwind utilities;

.vxe-table--border-line {
  display: none;
}

.vxe-table--body-wrapper.body--wrapper {
  top: -1px;
}

.vxe-table--render-default .vxe-body--x-space {
  background: var(--colors-border);
  @apply mb-0;
}

.vxe-table--render-default.border--full .vxe-body--column {
  background-image: linear-gradient(var(--colors-border), var(--colors-border)),
    Linear-gradient(var(--colors-border), var(--colors-border));
}

.error-info.col--edit > .vxe-cell {
  @apply truncate;
}

.static-input {
  &.col--edit {
    & > .vxe-cell {
      @apply p-0;
      margin-right: -1px;
      width: auto !important;

      & > .static-input {
        height: 49px;
        margin-top: -1px;
        margin-left: -1px;
        margin-right: -1px;
        @apply w-full leading-48 border-0 outline-none rounded-0 text-main px-10 border;

        &:focus,
        &:hover {
          z-index: 10;
          @apply shadow-none border-primary;
        }
      }
    }
  }
}

.static-select {
  &.col--edit {
    & > .vxe-cell {
      width: auto !important;
      margin-right: -1px;
      @apply px-0;

      .ant-select-focused .ant-select-selection {
        border-right-width: 0 !important;
        @apply shadow-none;
      }

      & > .ant-select {
        height: 49px;
        margin: -1px -1px 0;
        @apply border w-full outline-none;

        &:focus,
        &:hover {
          z-index: 10;
          @apply border-primary;
        }

        & > .ant-select-selection {
          height: 47px;
          line-height: 47px;
          @apply border-0 rounded-0 text-main transition-none;

          &:active,
          &:hover,
          &:focus {
            z-index: 10;
            border-right-width: 0 !important;
            @apply shadow-none outline-none;
          }

          & > .ant-select-selection__rendered {
            line-height: 47px;
            @apply mx-10;
          }
        }
      }
    }
  }

  &.vxe-table--ignore-clear {
    & > .ant-select-dropdown-content > .ant-select-dropdown-menu-root {
      @apply text-main leading-46 text-14 p-0 divide-grey divide-y;

      & > .ant-select-dropdown-menu-item {
        @apply h-46 px-16 py-0 leading-46 hover:text-primary hover:bg-white;

        &.ant-select-dropdown-menu-item-selected {
          @apply text-primary bg-primary bg-opacity-10 font-normal;
        }
      }
    }
  }
}

.region-cascader {
  &.col--edit {
    & > .vxe-cell {
      width: auto !important;
      margin-right: -1px;
      @apply px-0;

      & > .region-cascader {
        height: 49px;
        margin: -1px -1px 0;
        @apply border rounded-0 outline-none w-full;

        &:focus,
        &:hover {
          z-index: 10;
          @apply border-primary;

          & > .ant-cascader-input {
            @apply shadow-none;
            border-right-width: 0 !important;
          }
        }

        & > input.ant-input {
          @apply border-0 rounded-0;

          height: 47px;
          line-height: 47px;
        }

        & > .ant-cascader-picker-label {
          @apply px-10 text-main;
        }
      }
    }
  }

  &.vxe-table--ignore-clear {
    @apply rounded-0;

    & > .ant-cascader-menus-content {
      @apply rounded-0;

      & > .ant-cascader-menu {
        @apply p-0;

        &:first-child,
        &:last-child {
          @apply rounded-0;
        }

        & > .ant-cascader-menu-item {
          @apply h-46 leading-46 py-0 px-16 text-14 font-normal text-main hover:text-primary hover:bg-white;

          &.ant-cascader-menu-item-active {
            @apply text-primary bg-primary bg-opacity-10;
          }
        }
      }
    }
  }
}

.string-date-picker {
  &.col--edit {
    & > .vxe-cell {
      width: auto !important;
      margin-right: -1px;
      @apply px-0;

      & > .string-date-picker {
        height: 49px;
        margin: -1px -1px 0;
        @apply border rounded-0 outline-none w-full;

        &:focus,
        &:hover {
          z-index: 10;
          @apply border-primary;
        }

        .ant-calendar-picker-input {
          height: 47px;
          line-height: 47px;
          @apply border-0 rounded-0 transition-none text-main;

          &:focus,
          &:hover {
            border-right-width: 0 !important;
            @apply shadow-none outline-none;
          }
        }
      }
    }
  }

  &.vxe-table--ignore-clear {
    & > .ant-calendar-picker-container-content {
      @apply rounded-0;

      & > .ant-calendar-panel > .ant-calendar-input-wrap {
        @apply py-0 px-10 h-48 leading-48 text-main;
      }
    }
  }
}

.static-input.error-rect .ant-input.static-input,
.static-select.error-rect .ant-select.static-select,
.region-cascader.error-rect .ant-cascader-picker.region-cascader,
.string-date-picker.error-rect .ant-calendar-picker.string-date-picker {
  @apply border-danger;

  &:focus,
  &:hover {
    @apply border-danger;
  }
}

.static-input,
.static-select,
.region-cascader,
.string-date-picker {
  &.col--edit.error-rect:not(.col--actived) {
    &::before {
      right: 0;
      top: -1px;
      bottom: 0;
      left: -1px;
      content: "";
      z-index: 10;
      position: absolute;
      @apply border border-danger bg-danger bg-opacity-10;
    }
  }
}
