@tailwind base;
@tailwind components;
@tailwind utilities;

.error-info > .vxe-cell {
  @apply truncate;
}

.p-content-none > .vxe-cell {
  @apply p-0;
  margin-right: -1px;
  width: auto !important;
}

input.edit {
  height: 49px;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  @apply w-full leading-48 border-0 outline-none rounded-0 text-main px-10 border;

  &:focus,
  &:hover {
    z-index: 10;
    @apply shadow-none border-primary;
  }
}

.vxe-table--border-line {
  display: none;
}

.vxe-table--body-wrapper.body--wrapper {
  top: -1px;
}

.vxe-table--render-default .vxe-body--x-space {
  background: var(--colors-border);
  @apply mb-0;
}

.vxe-table--render-default.border--full .vxe-body--column {
  background-image: linear-gradient(var(--colors-border), var(--colors-border)),
    Linear-gradient(var(--colors-border), var(--colors-border));
}

.static-select {
  &.col--edit {
    & > .vxe-cell {
      width: auto !important;
      margin-right: -1px;
      @apply px-0;

      .ant-select-focused .ant-select-selection {
        border-right-width: 0 !important;
        @apply shadow-none;
      }

      & > .ant-select {
        height: 49px;
        margin: -1px -1px 0;
        @apply border;

        &:focus,
        &:hover {
          z-index: 10;
          @apply border-primary;
        }

        & > .ant-select-selection {
          height: 47px;
          line-height: 47px;
          @apply border-0 rounded-0;

          &:active,
          &:hover,
          &:focus {
            z-index: 10;
            border-right-width: 0 !important;
            @apply shadow-none outline-none;
          }

          & > .ant-select-selection__rendered {
            line-height: 47px;
            @apply mx-10;
          }
        }
      }
    }
  }

  &.vxe-table--ignore-clear {
    & > .ant-select-dropdown-content > .ant-select-dropdown-menu-root {
      @apply text-main leading-46 text-14 p-0 divide-grey divide-y;

      & > .ant-select-dropdown-menu-item {
        @apply h-46 px-16 py-0 leading-46 hover:text-primary hover:bg-white;

        &.ant-select-dropdown-menu-item-selected {
          @apply text-primary bg-primary bg-opacity-10 font-normal;
        }
      }
    }
  }
}

.region-cascader {
  &.col--edit {
    & > .vxe-cell {
      width: auto !important;
      margin-right: -1px;
      @apply px-0;

      & > .region-cascader {
        height: 49px;
        margin: -1px -1px 0;
        @apply border rounded-0 outline-none;

        &:focus,
        &:hover {
          @apply border-primary;

          & > .ant-cascader-input {
            @apply shadow-none;
            border-right-width: 0 !important;
          }
        }

        & > input.ant-input {
          @apply border-0 rounded-0;

          height: 47px;
          line-height: 47px;
        }

        & > .ant-cascader-picker-label {
          @apply px-10 text-main;
        }
      }
    }
  }

  &.vxe-table--ignore-clear {
    @apply rounded-0;

    & > .ant-cascader-menus-content {
      @apply rounded-0;

      & > .ant-cascader-menu {
        @apply p-0;

        &:first-child,
        &:last-child {
          @apply rounded-0;
        }

        & > .ant-cascader-menu-item {
          @apply h-46 leading-46 py-0 px-16 text-14 font-normal text-main hover:text-primary hover:bg-white;

          &.ant-cascader-menu-item-active {
            @apply text-primary bg-primary bg-opacity-10;
          }
        }
      }
    }
  }
}
